<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>

    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">

    <script th:href="@{/resources/js/jquery-3.5.1.slim.min.js}"></script>
    <script th:href="@{/resources/js/bootstrap.bundle.min.js}"></script>

</head>
<body class="pt-5 mt-3">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card border-secondary mb-3">
                <div class="card-header gray-900">
                    <h4 class="card-title text-dark">My Recipes!</h4>
                </div>
                <div class="card-body text-success p-0">
                    <table class="table table-striped mb-0" th:if="${not recipes.isEmpty()}">
                        <thead>
                    <tr>
                            <th>ID</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                        <tr th:each="recipe: ${recipes}">
                            <td th:text="${recipe.getId()}">id</td>
                            <td th:text="${recipe.getDescription()}">desc</td>
                        </tr>
                    </table>
                    <div  class="px-3 py-2 pb-3" th:if="${recipes.isEmpty()}">
                        <h5>List is empty!</h5>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>